<mat-nav-list>
  <a mat-list-item (click)="newThread()">New chat</a>

  <div *ngFor="let thread of threads" class="list-item">
    <a mat-list-item class="thread-link"
       (click)="activateThread(thread)">
      <span *ngIf="thread.thread_name">{{ thread.thread_name }}</span>
      <span *ngIf="!thread.thread_name">{{ thread.messages[0].text?.substring(0, 40) + "..." }}</span>
    </a>
    <button mat-icon-button aria-label="Delete this thread" class="delete-button" (click)="openDialog(thread.thread_id)">
      <mat-icon class="smaller-icon">delete</mat-icon>
    </button>
  </div>


</mat-nav-list>
