<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" routerLink="assistant-editor">
  <mat-icon>add</mat-icon>
</button>

<mat-card class="ai-app-card" *ngFor="let aiCard of aiCards">
  <mat-card-header>
    <mat-card-title>{{ aiCard.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ aiCard.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="activate(aiCard)">Start</button>
  </mat-card-actions>
</mat-card>
