<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Chat history</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="newThread()">New chat</a>
      <a mat-list-item *ngFor="let thread of threads"
         (click)="activateThread(thread)">{{ thread.messages[0].text?.substring(0, 40) + "..." }}</a>
    </mat-nav-list>
    <mat-divider></mat-divider>


    <mat-card class="ai-app-card" *ngFor="let aiCard of aiCards">
      <mat-card-header>
        <mat-card-title>{{ aiCard.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ aiCard.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="aiCard.action">Start</button>
      </mat-card-actions>
    </mat-card>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Personal AI Chat Demo</span>
    </mat-toolbar>

    <!-- Icon by <a href="https://www.freepik.com/icons/chatbot">Icon by UIcons</a>-->
    <deep-chat #deepChat
               style="border-radius: 10px; width: 80vw; height: calc(100vh - 70px); padding-top: 10px"

               messageStyles='{
                  "default": {
                    "shared": {
                      "bubble": {
                        "maxWidth": "100%", "backgroundColor": "unset", "marginTop": "10px", "marginBottom": "10px", "fontSize": "1rem"}},
                    "user": {
                      "bubble": {
                        "marginLeft": "0px", "color": "black"}},
                    "ai": {
                      "outerContainer": {
                        "backgroundColor": "rgba(247,247,248)", "borderTop": "1px solid rgba(0,0,0,.1)", "borderBottom": "1px solid rgba(0,0,0,.1)"
                      }
                    }
                  }
                }'


               avatars='{
                  "default": {"styles": {"position": "left"}},
                  "ai": {"src": "assets/chatbot-speech-bubble_13727385.png"}
                }'

               submitButtonStyles='{
                  "submit": {
                    "container": {
                      "default": {"backgroundColor": "#19c37d"},
                      "hover": {"backgroundColor": "#0bab69"},
                      "click": {"backgroundColor": "#068e56"}
                    },
                    "svg": {
                      "content": "<?xml version=\"1.0\" ?> <svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"> <g> <path d=\"M21.66,12a2,2,0,0,1-1.14,1.81L5.87,20.75A2.08,2.08,0,0,1,5,21a2,2,0,0,1-1.82-2.82L5.46,13H11a1,1,0,0,0,0-2H5.46L3.18,5.87A2,2,0,0,1,5.86,3.25h0l14.65,6.94A2,2,0,0,1,21.66,12Z\"> </path> </g> </svg>",
                      "styles": {
                        "default": {
                          "width": "1.3em",
                          "marginTop": "0.15em",
                          "filter": "brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(2%) hue-rotate(69deg) brightness(107%) contrast(100%)"
                        }
                      }
                    }
                  },
                  "loading": {
                    "container": {"default": {"backgroundColor": "white"}},
                    "svg": {
                      "styles": {
                        "default": {"filter": "brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(3044%) hue-rotate(322deg) brightness(100%) contrast(96%)"}
                      }
                    }
                  },
                  "stop": {
                    "container": {
                      "default": {"backgroundColor": "white"},
                      "hover": {"backgroundColor": "#dadada52"}
                    },
                    "svg": {
                      "content": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"> <rect width=\"24\" height=\"24\" rx=\"4\" ry=\"4\" /> </svg>",
                      "styles": {
                        "default": {
                          "width": "0.95em",
                          "marginTop": "0.32em",
                          "filter": "brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(3044%) hue-rotate(322deg) brightness(100%) contrast(96%)"}
                      }
                    }
                  }
                }'

               inputAreaStyle='{"fontSize": "1rem"}'

               textInput='{"placeholder": {"text": "Your message..."}}'


               [request]="{'url': 'http://localhost:8080/chat-stream'}"
               requestBodyLimits='{
                  "maxMessages": 0
               }'

               [stream]="true"


    >

    </deep-chat>
  </mat-sidenav-content>
</mat-sidenav-container>
