<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Chat history</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="newThread()">New chat</a>
      <a mat-list-item *ngFor="let thread of threads" (click)="activateThread(thread)">{{ thread.messages[0].text?.substring(0, 100) + "..." }}</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Personal AI Chat Demo</span>
    </mat-toolbar>
    <deep-chat #deepChat
               style="border-radius: 10px; width: 80vw; height: calc(100vh - 70px); padding-top: 10px"
               [request]="{'url': 'http://localhost:8080/chat'}"
               requestBodyLimits='{
                  "maxMessages": 0
               }'


    >

    </deep-chat>
  </mat-sidenav-content>
</mat-sidenav-container>
